<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <glsgroup>
                <version>1.0.0</version>
                <model>GlsGroup\Shipping\Model\Carrier\GlsGroup</model>
                <is_online>1</is_online>
                <max_package_weight>1000</max_package_weight>

                <!-- Default elements -->
                <active>0</active>
                <title>GLS</title>
                <sort_order>0</sort_order>
                <showmethod>1</showmethod>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>

                <general>
                    <logging_group>
                        <loglevel>400</loglevel>
                    </logging_group>
                    <cut_off_times backend_model="Netresearch\ShippingCore\Model\Config\Backend\ArraySerialized">
                        <![CDATA[
                        {
                            "_1602502601932_932":{"day":"1","time":"16:00"},
                            "_1602502739056_56":{"day":"2","time":"16:00"},
                            "_1602502744398_398":{"day":"3","time":"16:00"},
                            "_1602502747873_873":{"day":"4","time":"16:00"},
                            "_1602502750891_891":{"day":"5","time":"16:00"}
                        }
                        ]]>
                    </cut_off_times>
                </general>
                <account>
                    <sandboxmode>1</sandboxmode>
                    <api_password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                    <broker_reference>Magento2viaGLS</broker_reference>
                </account>
                <checkout>
                    <method_title>Standard</method_title>
                </checkout>
                <shipment_defaults>
                    <label_size>A6</label_size>
                    <package_default_weight>0.1</package_default_weight>
                    <terms_of_trade>20</terms_of_trade>
                </shipment_defaults>
                <additional_services>
                    <flexdelivery_identity>support</flexdelivery_identity>
                </additional_services>
            </glsgroup>
        </carriers>
    </default>
</config>
