<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="glsgroup" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>GLS Shipping</label>
                <field id="infoBox" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Netresearch\ConfigFields\Block\InfoBox</frontend_model>
                    <attribute type="body_template">GlsGroup_Shipping::system/config/infoBoxBody.phtml</attribute>
                    <attribute type="header_template">GlsGroup_Shipping::system/config/infoBoxHeader.phtml</attribute>
                    <attribute type="view_model">GlsGroup\Shipping\ViewModel\Adminhtml\System\InfoBox\Virtual</attribute>
                    <attribute type="logo">GlsGroup_Shipping::images/logo.jpg</attribute>
                    <attribute type="css_class">glsgroup</attribute>
                </field>
                <include path="GlsGroup_Shipping::system/100_general_settings.xml"/>
                <include path="GlsGroup_Shipping::system/200_account_settings.xml"/>
                <include path="GlsGroup_Shipping::system/400_checkout_settings.xml"/>
                <include path="GlsGroup_Shipping::system/500_shipment_defaults.xml"/>
                <include path="GlsGroup_Shipping::system/600_additional_services.xml"/>
            </group>
        </section>
    </system>
</config>
